/*common styles*/
.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    inset: 0;
}

.white-background {
    background: #fff;
}

/*header*/
.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 95px 50px 100px;
    font-size: 18px;
}

.header-menu {
    display: flex;
    gap: 30px;
    list-style-type: circle;
}

.header-menu-list-item-no-bullet {
    list-style-type: none;
}

.header-menu-link {
    text-decoration: none;
    text-transform: lowercase;
    display: block;
    border-bottom: 1px solid #000;
}

.header-menu-link-active {
    border-bottom: none;
    cursor: default;
}

.header-logo {
    width: 148px;
    height: 105px;
    display: block;
}

.header-logo img {
    height: 100%;
}

.header-address {
    justify-self: end;
    max-width: 240px;
    font-style: normal;
    line-height: 24px;
}

.header-address a {
    text-decoration: none;
    border-bottom: 1px solid #000;
}

/*cover*/
.cover {
    padding: 165px 50px 50px;
    margin-bottom: 180px;
    background-image: url("../images/cover.jpg");
    background-size: cover;
    position: relative;
    min-height: 757px;
}

.cover-content {
    position: relative;
    z-index: 1;
}

.cover-title {
    color: #fff;
    font-weight: bold;
    font-size: 100px;
    text-transform: uppercase;
    line-height: 1.15;
    margin-bottom: 106px;
}

.letter-spacing-extended {
    letter-spacing: 0.3em;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.aligned-text {
    display: block;
}

.aligned-text-left {
    text-align: left;
}

.aligned-text-center {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.aligned-text-right {
    text-align: right;
}

.cover-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
}

.cover-description-text {
    text-transform: uppercase;
    word-spacing: 20px;
    color: #fff;
    z-index: 1;
}

button {
    padding: 0;
}

.bet-button {
    background-color: transparent;
    color: #fff;
    font-size: 22px;
    border: 1px solid #fff;
    text-transform: uppercase;
    padding: 12px 32px 11px 31px;
    z-index: 1;
}

/*lots*/
.lots {
    margin: 0 24px 120px;
}

.lots-title {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 27px;
    margin-left: 40px;
}

.lots li {
    display: block;
    text-align: left;
}

.lots-card-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}

.lots-card-list-item {
    min-height: 596px;
    background-size: cover;
    background-position: center;
    color: #fff;
}

.card-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.card {
    position: relative;
    height: 100%;
}

.card-content {
    padding: 48px 40px;
    display: flex;
    height: 100%;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    text-decoration-skip-ink: none;
    line-height: 1.2;
    color: #fff;
}

.card-title span {
    display: inline-block;
    border-bottom: 1px solid #fff;
}

.card-text {
    font-size: 20px;
    text-transform: none;
    line-height: 1.2;
    text-decoration: none;
}

.card-type-film {
    background-image: url("../images/card-lot-01.jpg");
}

.card-type-book{
    background-image: url("../images/card-lot-02.jpg");
}

.card-type-picture {
    background-image: url("../images/card-lot-03.jpg");
}

.lots-look-more-link {
    margin-top: 30px;
    margin-left: 40px;
    text-transform: lowercase;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1px solid #000;
    font-size: 20px;
    cursor: pointer;
}

.about {
    margin: 0 24px 180px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    justify-items: center;
}

.logo-column {
    grid-column: 1/2;
}

.logo-container {
    width: 240px;
    height: 240px;
    background-color: #000;
    border-radius: 50%;
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img {
    width: 148px;
    height: 114px;
}

.about-column {
    grid-column: 2/-1;
    display: flex;
    flex-direction: column;
}

.about-column-title {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    margin-top: 133px;
    margin-bottom: 100px;
}

.about-column-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: 20px;
    line-height: 24px;
}

.footer {
    min-height: 180px;
    padding: 0 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-address {
    font-style: normal;
    font-size: 18px;
    max-width: 265px;
    line-height: 24px;
    display: flex;
    flex-direction: column;
}

.footer-menu {
    justify-self: center;
    list-style: none;
    text-align: center;
}

.footer-menu-link {
    display: inline-block;
    border-bottom: 1px solid #000;
    font-size: 18px;
    text-transform: lowercase;
    cursor: pointer;
}

.footer-menu-link-active {
    border-bottom: none;
}

.footer-social-list {
    display: flex;
    gap: 48px;
    list-style: none;
    justify-content: flex-end;
}

.footer-social-icon {
    width: 48px;
    height: 48px;
}